In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [44]:
findings = pd.read_excel("../rawData/greenFindings_2006_2019.xlsx")

In [45]:
findings.head(3)

,Region,Site,Id,Pim_Issue_Date,Source,IdBy,Type,Cornerstone_,Significance,Title_,EACaseNo,CrossCuttingAspect,TE,Docket,CornerstoneAttribute,Procedure,Introduction_
0,Region: I,Beaver Valley,25912,12/31/2018\r\n02/05/2019,2018004-01,Self - Revealed,NCV,Initiating Events,Green,Inadvertent Service Water Header Pressure Redu...,NaN,H.12 - Avoid Complacency,TE?: N,05000412 Beaver Valley 2,Procedure Quality,71111.1,A self-revealed Green non-cited violation of t...
1,Region: I,Beaver Valley,38859,12/31/2018\r\n02/05/2019,2018004-02,NRC,NCV,Mitigating Systems,Green,Failure to correct a degraded condition with t...,NaN,P.3 - Resolution,TE?: N,05000412 Beaver Valley 2,Equipment Performance,71152,The inspectors identified a Green non-cited vi...
2,Region: I,Beaver Valley,24690,09/30/2018\r\n10/30/2018,2018003-01,Self - Revealed,NCV,Mitigating Systems,Green,Inadequate Verification of Full Low Head Safet...,NaN,H.11 - Challenge the Unknown,TE?: N,05000334 Beaver Valley 1,NaN,71111.1,A self-revealed Green non-cited violation (NCV...

In [46]:
findings = findings[["Region", "Site", "Pim_Issue_Date", "Source", "Type", "IdBy"]]

In [47]:
findings.shape

(9938, 6)

In [48]:
findings["Region"].unique()

array(['Region: I', 'Region: II', 'Region: III', 'Region: IV'],
      dtype=object)

In [49]:
findings["Site"].unique()

array(['Beaver Valley', 'Calvert Cliffs', 'Crystal River', 'FitzPatrick',
       'Ginna', 'Hope Creek', 'Indian Point', 'Limerick', 'Millstone',
       'Nine Mile Point', 'Oyster Creek', 'Peach Bottom', 'Pilgrim',
       'Salem', 'Seabrook', 'Susquehanna', 'Three Mile Island',
       'Vermont Yankee', 'Browns Ferry', 'Brunswick', 'Catawba', 'Farley',
       'Harris', 'Hatch', 'McGuire', 'North Anna', 'Oconee', 'Robinson',
       'Saint Lucie', 'Sequoyah', 'Summer', 'Surry', 'Turkey Point',
       'Vogtle', 'Watts Bar', 'Braidwood', 'Byron', 'Clinton',
       'D.C. Cook', 'Davis-Besse', 'Dresden', 'Duane Arnold', 'Fermi',
       'Kewaunee', 'LaSalle', 'Monticello', 'Palisades', 'Perry',
       'Point Beach', 'Prairie Island', 'Quad Cities',
       'Arkansas Nuclear One', 'Callaway', 'Columbia Generating Station',
       'Comanche Peak', 'Cooper', 'Diablo Canyon', 'Fort Calhoun',
       'Grand Gulf', 'Palo Verde', 'River Bend', 'San Onofre',
       'South Texas Project', 'Waterford', 'Wolf Creek'], dtype=object)

In [50]:
findings["Site"] = findings["Site"].map({
        'D.C. Cook': 'Cook',
        'Davis-Besse': 'Davis Besse',
        'Columbia Generating Station': 'Columbia'
        }).fillna(findings["Site"])

In [51]:
findings["Source"].unique()

array(['2018004-01', '2018004-02', '2018003-01', ..., '2008007-07',
       '2008007-08', '2006010-04'], dtype=object)

In [52]:
findings["Year"] = findings["Source"].str[0:4]
findings.head()

,Region,Site,Pim_Issue_Date,Source,Type,IdBy,Year
0,Region: I,Beaver Valley,12/31/2018\r\n02/05/2019,2018004-01,NCV,Self - Revealed,2018
1,Region: I,Beaver Valley,12/31/2018\r\n02/05/2019,2018004-02,NCV,NRC,2018
2,Region: I,Beaver Valley,09/30/2018\r\n10/30/2018,2018003-01,NCV,Self - Revealed,2018
3,Region: I,Beaver Valley,08/10/2018\r\n09/20/2018,2018011-01,NCV,NRC,2018
4,Region: I,Beaver Valley,03/31/2018\r\n05/02/2018,NaN,FIN,Self - Revealed,NaN

In [53]:
findings["Year"].unique()

array(['2018', nan, '2017', '2016', '2015', '2014', '2013', '2012',
       '2011', '2010', '2009', '2008', '2007', '2006', '2019', '2005',
       '2004'], dtype=object)

In [54]:
findings[findings["Source"].isnull()]

,Region,Site,Pim_Issue_Date,Source,Type,IdBy,Year
4,Region: I,Beaver Valley,03/31/2018\r\n05/02/2018,NaN,FIN,Self - Revealed,NaN
89,Region: I,Calvert Cliffs,12/31/2018\r\n02/01/2019,NaN,FIN,NRC,NaN
199,Region: I,Calvert Cliffs,\r\n05/07/2019,NaN,LIV,NaN,NaN
305,Region: I,FitzPatrick,\r\n08/12/2019,NaN,LIV,NaN,NaN
391,Region: I,Hope Creek,12/31/2019\r\n02/10/2020,NaN,NCV,NRC,NaN
...,...,...,...,...,...,...,...
9440,Region: IV,South Texas Project,\r\n11/04/2019,NaN,LIV,Licensee - Identified,NaN
9441,Region: IV,South Texas Project,\r\n11/04/2019,NaN,LIV,Licensee - Identified,NaN
9626,Region: IV,Waterford,\r\n11/05/2019,NaN,LIV,Licensee - Identified,NaN
9936,Region: IV,Wolf Creek,\r\n05/08/2019,NaN,LIV,NaN,NaN
9937,Region: IV,Wolf Creek,\r\n09/24/2019,NaN,LIV,NaN,NaN

In [55]:
findings.dropna(subset=['Source'], inplace = True)

In [56]:
findings.shape

(9829, 7)

In [57]:
findings = findings[(findings.Year != "2004") & (findings.Year != "2005")]
findings.tail(3)

,Region,Site,Pim_Issue_Date,Source,Type,IdBy,Year
9933,Region: IV,Wolf Creek,04/07/2006\r\n05/22/2006,2006002-02,FIN,Self - Revealed,2006
9934,Region: IV,Wolf Creek,04/07/2006\r\n05/22/2006,2006002-03,NCV,NRC,2006
9935,Region: IV,Wolf Creek,04/07/2006\r\n05/22/2006,2006002-04,NCV,NRC,2006

In [160]:
findings.shape

(9821, 7)

In [58]:
findings["Year"] = findings["Year"].apply(np.int64)

In [59]:
findings.head()

,Region,Site,Pim_Issue_Date,Source,Type,IdBy,Year
0,Region: I,Beaver Valley,12/31/2018\r\n02/05/2019,2018004-01,NCV,Self - Revealed,2018
1,Region: I,Beaver Valley,12/31/2018\r\n02/05/2019,2018004-02,NCV,NRC,2018
2,Region: I,Beaver Valley,09/30/2018\r\n10/30/2018,2018003-01,NCV,Self - Revealed,2018
3,Region: I,Beaver Valley,08/10/2018\r\n09/20/2018,2018011-01,NCV,NRC,2018
5,Region: I,Beaver Valley,02/23/2018\r\n05/03/2018,2018010-01,FIN,NRC,2018

In [60]:
findings["Type"].unique()

array(['NCV', 'FIN', 'URI', 'NOV', 'VIO', 'NCVIV', 'UNKN', 'AV', 'NOVIV'],
      dtype=object)

In [61]:
findings[findings["Type"] == "LIV"]

Empty DataFrame
Columns: [Region, Site, Pim_Issue_Date, Source, Type, IdBy, Year]
Index: []

In [62]:
#eliminate rows with type AV, URI, UNKN
findings = findings[(findings.Type != "URI") & (findings.Type != "AV") & (findings.Type != "UNKN")]

In [63]:
findings.shape

(9752, 7)

In [64]:
findings = findings[["Region", "Site", "Type", "Year", "IdBy"]]

In [65]:
findings.head()

      Region           Site Type  Year             IdBy
0  Region: I  Beaver Valley  NCV  2018  Self - Revealed
1  Region: I  Beaver Valley  NCV  2018              NRC
2  Region: I  Beaver Valley  NCV  2018  Self - Revealed
3  Region: I  Beaver Valley  NCV  2018              NRC
5  Region: I  Beaver Valley  FIN  2018              NRC

In [66]:
findings = findings.groupby(by=['Site', 'Year']).count()[["Region"]].reset_index()

In [67]:
findings["TotalFindings"] = findings["Region"]
findings = findings[["Site", "Year", "TotalFindings"]]

In [68]:
findings.head()

                   Site  Year  TotalFindings
0  Arkansas Nuclear One  2006             11
1  Arkansas Nuclear One  2007             26
2  Arkansas Nuclear One  2008             21
3  Arkansas Nuclear One  2009             21
4  Arkansas Nuclear One  2010             24

In [69]:
findings["Site"].value_counts().tail(12)

Columbia          14
Fermi             14
Harris            13
Wolf Creek        13
Pilgrim           13
Beaver Valley     13
Oyster Creek      12
Fort Calhoun      11
Vermont Yankee    10
San Onofre         8
Kewaunee           8
Crystal River      7
Name: Site, dtype: int64

In [70]:
findings[findings["Site"] == "Vermont Yankee"]

               Site  Year  TotalFindings
813  Vermont Yankee  2006              5
814  Vermont Yankee  2007              6
815  Vermont Yankee  2008             12
816  Vermont Yankee  2009              5
817  Vermont Yankee  2010              8
818  Vermont Yankee  2011              5
819  Vermont Yankee  2012              6
820  Vermont Yankee  2013             13
821  Vermont Yankee  2014              8
822  Vermont Yankee  2015              1

In [71]:
findings.shape

(878, 3)

In [72]:
#drop finding for year after plant was permanently shut down
findings.drop([822], inplace = True)

In [73]:
#add rows with 0 findings for plants that had no findings in a year
no_findings = pd.DataFrame([["Crystal River", 2012, 0], ["Oyster Creek", 2018, 0], ["Wolf Creek", 2019,0],
                       ["Beaver Valley", 2019, 0], ["Pilgrim", 2019, 0], ["Harris", 2017, 0],], 
                      columns=['Site', 'Year', "TotalFindings"])

In [74]:
findings = findings.append(no_findings, ignore_index = True)
findings.shape

(883, 3)

In [75]:
findings = findings.sort_values(by =['Site', 'Year']).reset_index()
findings = findings[["Site","Year","TotalFindings"]]

In [76]:
findings.tail(3)

           Site  Year  TotalFindings
880  Wolf Creek  2017             12
881  Wolf Creek  2018              7
882  Wolf Creek  2019              0

In [77]:
findings.to_excel("findingsData.xlsx")

In [78]:
data = pd.read_excel("EnsAndAm.xlsx")

In [79]:
data.tail(2)

     Unnamed: 0        Site  Year  ENCount  ScramCount  Column #
881         881  WOLF CREEK  2018        4           0         2
882         882  WOLF CREEK  2019        3           0         1

In [80]:
#eliminate unnecessary old index column
data = data[["Site", "Year", "ENCount", "ScramCount", "Column #"]]
data.head(2)

                   Site  Year  ENCount  ScramCount  Column #
0  ARKANSAS NUCLEAR ONE  2006        2           0         1
1  ARKANSAS NUCLEAR ONE  2007        2           1         1

In [82]:
#merge the findings data to the other collected data
new_data = pd.merge(data, findings, how='left', left_index=True, right_index=True, suffixes=("", '_findings'))
new_data.tail()

,Site,Year,ENCount,ScramCount,Column #,Site_findings,Year_findings,TotalFindings
878,WOLF CREEK,2015,8,2,1,Wolf Creek,2015,10
879,WOLF CREEK,2016,5,0,1,Wolf Creek,2016,11
880,WOLF CREEK,2017,2,0,2,Wolf Creek,2017,12
881,WOLF CREEK,2018,4,0,2,Wolf Creek,2018,7
882,WOLF CREEK,2019,3,0,1,Wolf Creek,2019,0

In [83]:
new_data[(new_data["Year"] != new_data["Year_findings"])]

Empty DataFrame
Columns: [Site, Year, ENCount, ScramCount, Column #, Site_findings, Year_findings, TotalFindings]
Index: []

In [85]:
new_data = new_data[["Site","Year","ENCount","ScramCount", "Column #", "TotalFindings"]]
new_data.tail()

           Site  Year  ENCount  ScramCount  Column #  TotalFindings
878  WOLF CREEK  2015        8           2         1             10
879  WOLF CREEK  2016        5           0         1             11
880  WOLF CREEK  2017        2           0         2             12
881  WOLF CREEK  2018        4           0         2              7
882  WOLF CREEK  2019        3           0         1              0

In [86]:
new_data.to_excel("EnsAmFindings.xlsx")